asgiref==3.2.10
boto3==1.15.6
botocore==1.18.6
Django==3.1
django-cors-headers==3.5.0
django-debug-toolbar==2.2
django-filter==2.3.0
django-storages==1.10
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
drf-nested-routers==0.91
gunicorn==20.0.4
jmespath==0.10.0
Pillow==7.2.0
psycopg2==2.8.5
PyJWT==2.4.0
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
