astroid==2.2.5
autopep8==1.4.4
boto3==1.9.204
botocore==1.12.204
dj-database-url==0.5.0
Django==2.2.4
django-cors-headers==3.0.2
django-filter==2.2.0
django-storages==1.7.1
djangorestframework==3.10.2
djangorestframework-simplejwt==4.3.0
docutils==0.14
drf-nested-routers==0.91
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.1
mccabe==0.6.1
Pillow==8.3.2

psycopg2-binary==2.8.3
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.2
s3transfer==0.2.1
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.3
uWSGI==2.0.18
whitenoise==4.1.3
wrapt==1.11.2
gunicorn==19.9.0
django-debug-toolbar==2.0.0